body{
    margin: 0 auto;

}
div.topo{
    background-color: #372bbd;
    color: white;
    padding-left: 150px;
    padding-top: 15px;
    height: 30px;
 
}

.secao{
    width: 100%; max-width: 1024px; margin: 0 auto;

}
.galeria{
    display: flex; overflow-x: scroll;

}

div.rodape{
    background-color: #372bbd;
    color: white;
    text-align: center;
    padding: 15px 0;
        
}

img.img-capa{
    width: 100%;
}    

img{
    width: 100%;

}

img.imagem-sombra{
    width: 40%;
    box-shadow: 10px 10px 5px #939393;
    margin-right: 16px;
    margin-bottom: 15px;

}

h2{
    text-align: center;

}

span{
    padding-left: 15px;

}

a.topo{
    background-color: white;
    color: #372bbd;
    border-radius: 15px;
    border-color: white;
    border-color: white;
    border-style: dashed;
    text-decoration: none;
    margin-left: 30px;
    
}

